/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  html {
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 10px;
}
  ul{
  padding:0;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ========================================================================== 
   Author's custom styles

   ========================================================================== */

  header {
  grid-column: 1 / 4;
  grid-row: 1;
  }

  footer {
  grid-column: 1 / 4;
  grid-row: 4;
  }

  a:visited {
  color: red;
  }

  a {
  text-decoration: none;
  }

  .one:hover,
  .two:hover,
  .three:hover,
  .four:hover,
  .five:hover,
  .six:hover {
  border-radius: 100%;
  /**/
  text-align: center;
  /**/
  display: block;
  /**/
  background-image: url(../img/stethoscope.png);
  /**/
  background-repeat: no-repeat;
  /**/
  background-position: center;
  }

  li {
  list-style-type: none;
  }


/* ==========================================================================
				@import fonts
   ========================================================================== */

  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ==========================================================================



			Mobile version / SMALL DEVICE ***********************



   =========================================================================== */

@media screen and (min-width:200px) {
  /* =========================================================
		A-grid
   ========================================================= */
  * {
    box-sizing: border-box;
  }
/*
  .wrapper-home {
    max-width: 10vw;
    margin: 1.5rem;
  }*/
  .wrapper-home>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: .1rem;
    color: #d9480f;
  }
  .wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: minmax(5rem, auto);
  }
  p {
    font-family: 'Lato', sans-serif;
    display: block;
  }
  header {
    height: auto;
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  header p {
    text-align: center;
  }
  .bigfont {
    font-size: 1rem;
    padding-top: 2.5rem;
  }
  footer {
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  footer p {
    text-align: center;
  }
  footer li {
    display: inline-block;
    margin: auto;
  }
  /* =========================================================
		pratician1.html
   ========================================================= */
  .wrapper-marta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .1rem;
    grid-auto-rows: minmax(1rem, auto);
  }
  .wrapper-marta {
    max-width: 767px;
    margin: .5rem;
  }
  .wrapper-marta>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician1 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician1 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		pratician2.html
   ========================================================= */
  .wrapper-michel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .1rem;
    grid-auto-rows: minmax(1rem, auto);
  }
  .wrapper-michel {
    max-width: 767px;
    margin: .5rem;
  }
  .wrapper-michel>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician2 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician2 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =================================================================
  		 about.html
   =============================================================== */
  .wrapper-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-about {
    max-width: 767px;
    margin: .1rem;
  }
  .wrapper-about>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .about {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .about h1 {
    display: none
  }
  .about p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
  		 hours.html
   ========================================================= */
  .wrapper-hours {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(1rem, auto);
  }
  .wrapper-hours {
    max-width: 767px;
    margin: .5rem;
  }
  .wrapper-hours>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: .1rem;
    color: #d9480f;
  }
  .hours {
    grid-column: 1;
    grid-row: 1;
  }
  table,
  td {
    border: .1rem solid #333;
    margin: auto;
  }
  thead,
  tfoot {
    background-color: hsl(204, 98%, 38%);
    color: #fff;
  }
  /* =========================================================
   		urgence.html
   ========================================================= */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
    background-color: hsl(15, 100%, 50%);
  }
  .wrapper {
    max-width: 767px;
    margin: .1rem;
  }
  .wrapper>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(15, 100%, 50%);
    padding: 1rem;
    color: #d9480f;
  }
  .urgence,
  blockquote,
  .urgetop {
    background-color: hsl(15, 100%, 50%);
  }
  blockquote,
  .urgence p {
    color: #ffffff;
  }
  .urgetop {
    grid-column: 2;
    grid-row: 1;
  }
  blockquote {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  /* ========================================================= 
		Contact.html
   ========================================================= */
  .contactleft {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .contactright {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-contact {
    max-width: 767px;
    margin: .1rem;
  }
  .wrapper-contact>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  /* =========================================================
		Join Us
   ========================================================= */
  .wrapper-joinus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-joinus {
    max-width: 767px;
    margin: .1rem;
  }
  .wrapper-joinus>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .joinus {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .joinus h1 {
    display: none;
  }
  .joinus p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		GDPR
   ========================================================= */
  .wrapper-gdpr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-gdpr {
    max-width: 767px;
    margin: .1rem;
  }
  .wrapper-gdpr>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .gdpr {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .gdpr p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
}


/*
*
***************************************************************


------------------ SMALL DEVICE -------------------------------


***************************************************************
*
*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 250px) and (max-width: 1067px) {
  /* =========================================================
		A-grid
   ========================================================= */
  * {
    box-sizing: border-box;
  }
  .wrapper-home {
    max-width: 1067px;
    margin: 1.5rem;
  }
  .wrapper-home>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1.5rem;
    color: #d9480f;
  }
  .wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  p {
    font-family: 'Lato', sans-serif;
  }
  header {
    height: auto;
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  header p {
    text-align: center;
  }
  .bigfont {
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
  footer {
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  footer p {
    text-align: center;
  }
  footer li {
    display: inline-block;
    margin: auto;
  }
  /* =========================================================
 		pratician1.html
   ========================================================= */
  .wrapper-marta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-marta {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-marta>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician1 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician1 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
 		pratician2.html
   ========================================================= */
  .wrapper-michel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-michel {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-michel>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician2 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician2 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		   about.html
   ========================================================= */
  .wrapper-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-about {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-about>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .about {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .about h1 {
    display: none
  }
  .about p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
 		 hours.html
   ========================================================= */
  .wrapper-hours {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-hours {
    max-width: 1067px;
    margin: 1rem;
  }
  .wrapper-hours>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .hours {
    grid-column: 1;
    grid-row: 1;
  }
  table,
  td {
    border: .1rem solid #333;
    margin: auto;
  }
  thead,
  tfoot {
    background-color: hsl(204, 98%, 38%);
    color: #fff;
  }
  /* =========================================================
  		 urgence.html
   ========================================================= */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
    background-color: hsl(15, 100%, 50%);
  }
  .wrapper {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(15, 100%, 50%);
    padding: 1rem;
    color: #d9480f;
  }
  .urgence,
  blockquote,
  .urgetop {
    background-color: hsl(15, 100%, 50%);
  }
  blockquote,
  .urgence p {
    color: #ffffff;
  }
  .urgetop {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  blockquote {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  /* ========================================================= 
		Contact.html
   ========================================================= */
  .contactleft {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .contactright {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-contact {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-contact>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  /* =========================================================
		Join Us
   ========================================================= */
  .wrapper-joinus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-joinus {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-joinus>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .joinus {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .joinus h1 {
    display: none
  }
  .joinus p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		GDPR
   ========================================================= */
  .wrapper-gdpr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-gdpr {
    max-width: 1067px;
    margin: 5rem;
  }
  .wrapper-gdpr>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .gdpr {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .gdpr p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
}


/* ===============================
	

	Tablette version **********
   

   =============================== */


/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 1068px) and (max-width: 1661px) {
  /* =========================================================
		A-grid
   ========================================================= */
  * {
    box-sizing: border-box;
  }
  .wrapper-home {
    max-width: 1661px;
    margin: 3rem;
  }
  .wrapper-home>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  p {
    font-family: 'Lato', sans-serif;
  }
  header {
    height: auto;
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  header p {
    text-align: center;
  }
  .bigfont {
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
  footer {
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  footer p {
    text-align: center;
    padding-left: 5rem;
  }
  footer li {
    display: inline-block;
    margin: auto;
  }
  /* =========================================================
		pratician1.html
   ========================================================= */
  .wrapper-marta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-marta {
    max-width: 1067px;
    margin: 3rem;
  }
  .wrapper-marta>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician1 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician1 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		pratician2.html
   ========================================================= */
  .wrapper-michel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-michel {
    max-width: 1067px;
    margin: 3rem;
  }
  .wrapper-michel>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician2 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician2 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		about.html
   ========================================================= */
  .wrapper-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(5rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-about {
    max-width: 1661px;
    margin: 5rem;
  }
  .wrapper-about>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .about {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .about h1 {
    display: none
  }
  .about p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		hours.html
   ========================================================= */
  .wrapper-hours {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-hours {
    max-width: 1661px;
    margin: 3rem;
  }
  .wrapper-hours>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .hours {
    grid-column: 1;
    grid-row: 1;
  }
  table,
  td {
    border: .1rem solid #333;
    margin: auto;
  }
  thead,
  tfoot {
    background-color: hsl(204, 98%, 38%);
    color: #fff;
  }
  /* =========================================================
   		urgence.html
   ========================================================= */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(5rem, auto);
    padding: 1rem 1rem 1rem 1rem;
    background-color: hsl(15, 100%, 50%);
  }
  .wrapper {
    max-width: 1661px;
    margin: 5rem;
  }
  .wrapper>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(15, 100%, 50%);
    padding: 1rem;
    color: #d9480f;
  }
  .urgence,
  blockquote,
  .urgetop {
    background-color: hsl(15, 100%, 50%);
  }
  blockquote,
  .urgence p {
    color: #ffffff;
  }
  .urgetop {
    grid-column: 2;
    grid-row: 1;
  }
  blockquote {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  /* ========================================================= 
		Contact.html
   ========================================================= */
  .contactleft {
    grid-column: 1;
    grid-row: 1;
  }
  .contactright {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(5rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-contact {
    max-width: 1661px;
    margin: 5rem;
  }
  .wrapper-contact>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  /* =========================================================
		Join Us
   ========================================================= */
  .wrapper-joinus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(5rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-joinus {
    max-width: 1661px;
    margin: 5rem;
  }
  .wrapper-joinus>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .joinus {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .joinus h1 {
    display: none
  }
  .joinus p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		GDPR
   ========================================================= */
  .wrapper-gdpr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(5rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-gdpr {
    max-width: 1661px;
    margin: 5rem;
  }
  .wrapper-gdpr>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .gdpr {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .gdpr p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
}


/* =========================================================
	

	Desktop version ***********************************


   ========================================================= */


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1662px) {
  /* =========================================================
		A-grid
   ========================================================= */
  * {
    box-sizing: border-box;
  }
  .wrapper-home {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper-homer>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  p {
    font-family: 'Lato', sans-serif;
  }
  header {
    height: auto;
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  header p {
    text-align: center;
  }
  .bigfont {
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
  footer {
    border: .1rem solid black;
    background-color: hsl(211, 49%, 63%);
  }
  footer p {
    text-align: center;
    padding-left: 2.5rem;
  }
  footer li {
    display: inline-block;
    margin: auto;
  }
  /* =========================================================
		pratician1.html
   ========================================================= */
  .wrapper-marta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-marta {
    max-width: 1067px;
    margin: 3rem;
  }
  .wrapper-marta>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician1 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician1 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		pratician2.html
   ========================================================= */
  .wrapper-michel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-michel {
    max-width: 1067px;
    margin: 3rem;
  }
  .wrapper-michel>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .pratician2 {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .pratician2 p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		about.html
   ========================================================= */
  .wrapper-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-about {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper-about>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .about {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .about h1 {
    display: none
  }
  .about p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		hours.html
   ========================================================= */
  .wrapper-hours {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-hours {
    max-width: 1662px;
    margin: 3rem;
  }
  .wrapper-hours>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .hours {
    grid-column: 1;
    grid-row: 1;
  }
  table,
  td {
    border: .1rem solid #333;
    margin: auto;
  }
  thead,
  tfoot {
    background-color: hsl(204, 98%, 38%);
    color: #fff;
  }
  /* =========================================================
		urgence.html
   ========================================================= */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
    background-color: hsl(15, 100%, 50%);
  }
  .wrapper {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(15, 100%, 50%);
    padding: 1rem;
    color: #d9480f;
  }
  .urgence,
  blockquote,
  .urgetop {
    background-color: hsl(15, 100%, 50%);
  }
  blockquote,
  .urgence p {
    color: #ffffff;
  }
  .urgetop {
    grid-column: 2;
    grid-row: 1;
  }
  blockquote {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  /* ========================================================= 
		Contact.html
   ========================================================= */
  .contactleft {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .contactright {
    grid-column: 1;
    grid-row: 1;
  }
  .wrapper-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-contact {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper-contact>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  /* =========================================================
		Join Us
   ========================================================= */
  .wrapper-joinus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-joinus {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper-joinus>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .joinus {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .joinus h1 {
    display: none
  }
  .joinus p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
  /* =========================================================
		GDPR
   ========================================================= */
  .wrapper-gdpr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
    padding: 1rem 1rem 1rem 1rem;
  }
  .wrapper-gdpr {
    max-width: 1662px;
    margin: 5rem;
  }
  .wrapper-gdpr>div {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: .5rem;
    background-color: hsl(211, 49%, 63%);
    padding: 1rem;
    color: #d9480f;
  }
  .gdpr {
    grid-column: 2;
    grid-row: 1;
    /**/
    background-color: hsl(211, 49%, 63%);
    /**/
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .gdpr p {
    margin-right: .3rem;
    /**/
    margin-left: .3rem;
    /**/
    text-align: justify;
  }
}


/*
*
*
****************************************
****************************************
*
*
*/


/* Style adjustments for viewports that meet the condition */


}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent ;
    color: #000 ;
    /* Black prints faster */
    -webkit-box-shadow: none ;
    box-shadow: none ;
    text-shadow: none ;
  }
  
  a,
  a:visited {
    text-decoration: underline;
  }
  
  a[href]:after {
    content: " (" attr(href) ")";
  }
  
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  
  pre {
    white-space: pre-wrap ;
  }
  
  pre,
  blockquote {
    border: .1rem solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  
  thead {
    display: table-header-group;
  }
  
  tr,
  img {
    page-break-inside: avoid;
  }
  
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  
  h2,
  h3 {
    page-break-after: avoid;
  }
}
