/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ========================================================================== 
   Author's custom styles

   ========================================================================== */















/* ======
	@import fonts
   ====== */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ===============================
	Mobile version
   =============================== */
	@media only screen and (min-width: 280px), only screen and ( max-width:550px) {
	p{
	font-family: 'Lato', sans-serif;
	display: block;
}
	header{
	height:auto;
	border:.1rem solid black;
	background-color: hsl(211, 49%, 63%);
}
	header p{
	text-align:center;
}
	.bigfont{
	font-size:1rem;
	padding-top: 2.5rem;
}
	footer{
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	footer p{
	text-align:center;

	
}
	footer li{
	display:inline-block;
	padding:auto;
	margin:auto;
}
	li {
	list-style-type:none;
}
/* =========================================================
	pratician1.html
   ========================================================= */
	.pratician1{
	grid-column:2;
	grid-row: 1;
}


/* =========================================================
	pratician2.html
   ========================================================= */
	.pratician2{
	grid-column:2;
	grid-row: 1;
}
/* =================================================================
   about.html
   =============================================================== */
	.about{
	grid-column:2;
	grid-row: 1;
	background-color:hsl(178, 68%, 46%);
}
	.about h1{display:none}
	.about p{margin-left:1rem;}
/* =========================================================
   hours.html
   ========================================================= */
	.hours{
	grid-column: 2;
	grid-row:1;
}
	table,
	td {
    border: .1rem solid #333;
    margin:auto; 
}
	thead,
	tfoot {
    background-color:hsl(204, 98%, 38%);
    color: #fff;
}
/* =========================================================
   urgence.html
   ========================================================= */	
	.urgence, blockquote, .urgetop{

	background-color:hsl(15, 100%, 50%);
		
}
	blockquote, .urgence p{color:#ffffff;}
	.urgetop{
	grid-column:2;
	grid-row: 1;
}
	blockquote{
	grid-column: 1;
	grid-row: 1 / 2;
}
/* ========================================================= 
   Contact.html
   ========================================================= */
	.contactleft {
  grid-column:2;
  grid-row:1;
}
	.contactright {
  grid-column:1/1;
  grid-row:1/4;
}

	form {
  /* Pour le centrer dans la page */
}
  /* Pour voir les limites du formulaire */
  padding:.1em;
  border: .1rem solid #CCC;
  border-radius: .5rem;
}
	div + div {
  margin-top:.1em;
}

	label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

	input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: .1rem solid #999;
}

	input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: #000;
}

	textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: .5rem;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

	.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

	button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .3rem;
}
/* =========================================================
   iframe
   ========================================================= */
	.wrapper iframe{
	position: ;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}
/* =========================================================
	Join Us
   ========================================================= */
	.joinus{
	grid-column: 2;
	grid-row:1;
}
	.joinus h1{display:none}
/* =========================================================
	A-grid
   ========================================================= */
* {box-sizing: border-box;}
	.wrapper {
  max-width:280px;
  margin: 0 auto;
}

	.wrapper > div {
	border:.1rem solid rgb(233,171,88);
  border-radius:.5rem;
  background-color:hsl(211, 49%, 63%);
  padding: 1rem;
  color: #d9480f;
}
	.wrapper {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1rem;
  grid-auto-rows: minmax(5rem, auto);
  padding: 1rem 1rem 1rem 1rem;
}
}
/*
*
***************************************************************
***************************************************************
*
*/
	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px), only screen and (max-wiDth: 900px){
	p{
	font-family: 'Lato', sans-serif;
}
	header{
	height:auto;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	header p{
	text-align:center;
}
	.bigfont{
	font-size:1.5rem;
	padding-top: 2.5rem;
}
	footer{
	height:10rem;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	footer p{
	text-align:center;
	
}
	footer li{
	display:inline-block;
	padding:auto;
	margin:auto;
}
	li {
	list-style-type:none;
}
/* =========================================================
	pratician1.html
   ========================================================= */
	.pratician1{
	grid-column:2;
	grid-row: 1;
}


/* =========================================================
	pratician2.html
   ========================================================= */
	.pratician2{
	grid-column:2;
	grid-row: 1;
}
/* =========================================================
	   about.html
   ========================================================= */
	.about{
	grid-column:2;
	grid-row: 1;
	background-color:hsl(178, 68%, 46%);
}
	.about h1{display:none}
	.about p{margin-left:1rem;}
/* =========================================================
   hours.html
   ========================================================= */
	.hours{
	grid-column:1;
	grid-row:1;
}	
	table,
	td, {
    border: .1rem solid #333;
    margin:auto;
}

	thead,
	tfoot {
    background-color:hsl(204, 98%, 38%);
    color: #fff;
}
/* =========================================================
   urgence.html
   ========================================================= */	
	.urgence, blockquote, .urgetop{

	background-color:hsl(15, 100%, 50%);
		
}
	blockquote, .urgence p{color:#ffffff;}
	.urgetop{
	grid-column:2;
	grid-row: 1;
}
	blockquote{
	grid-column: 1;
	grid-row: 1 / 2;
}
/* ========================================================= 
   Contact.html
   ========================================================= */
	.contactleft {
  grid-column:2;
  grid-row:1;
}
	.contactright {
  grid-column:1/1;
  grid-row:1/4;
}

	form {
  /* Pour le centrer dans la page */

  /* Pour voir les limites du formulaire */
  padding:.1rem;
  border:.1rem solid #CCC;
  border-radius: 1em;
}

	div + div {
  margin-top:.1rem;
}

	label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

	input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

	input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: #000;
}

	textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

	.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

	button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}
/* =========================================================
   iframe
   ========================================================= */
	.wrapper iframe{
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}
/* =========================================================
	Join Us
   ========================================================= */
	.joinus{
	grid-column: 2;
	grid-row:1;
}
	.joinus h1{display:none}
/* =========================================================
	A-grid
   ========================================================= */
* {box-sizing: border-box;}
	.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

	.wrapper > div {
	border: .1rem solid rgb(233,171,88);
  border-radius: .5rem ;
  background-color:hsl(211, 49%, 63%);
  padding: 1rem;
  color: #d9480f;
}
	.wrapper {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1rem;
  grid-auto-rows: minmax(auto);
  padding: 1rem 1rem 1rem 1rem;
}
}
/* ===============================
	Tablette version
   =============================== */
	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px), only screen and (max-width:1366px){
	p{
	font-family: 'Lato', sans-serif;
}
	header{
	height:auto;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	header p{
	text-align:center;
}
	.bigfont{
	font-size:1.5rem;
	padding-top: 2.5rem;
}
	footer{
	height:auto;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	footer p{
	text-align:center;
	padding-left:5rem;
	
}
	footer li{
	display:inline-block;
	padding:auto;
	margin:auto;
}
	li {
	list-style-type:none;
}
/* =========================================================
	pratician1.html
   ========================================================= */
	.pratician1{
	grid-column:2;
	grid-row: 1;
}
/* =========================================================
	pratician2.html
   ========================================================= */
	.pratician2{
	grid-column:2;
	grid-row: 1;
}
/* =========================================================
   about.html
   ========================================================= */
	.about{
	grid-column:2;
	grid-row: 1;
	background-color:hsl(178, 68%, 46%);
}
	.about h1{display:none}
	.about p{margin-left:1rem;}
/* =========================================================
   hours.html
   ========================================================= */
	.hours{
	grid-column:1;
	grid-row:1;
}	
	table,
	td {
    border: .1rem solid #333;
    margin:auto; 
}

	thead,
	tfoot {
    background-color:hsl(204, 98%, 38%);
    color: #fff;
}
/* =========================================================
   urgence.html
   ========================================================= */	
	.urgence, blockquote, .urgetop{

	background-color:hsl(15, 100%, 50%);
		
}
	blockquote, .urgence p{color:#ffffff;}
	.urgetop{
	grid-column:2;
	grid-row: 1;
}
	blockquote{
	grid-column: 1;
	grid-row: 1 / 2;
}
/* =========================================================
   Contact.html
   ========================================================= */
	.contactleft {
  grid-column:2;
  grid-row:1;
}
	.contactright {
  grid-column:1/1;
  grid-row:1/4;
}

	form {
  /* Pour le centrer dans la page */

  /* Pour voir les limites du formulaire */
  padding:.1rem;
  border:.1rem solid #CCC;
  border-radius:.1rem;
}

	div + div {
  margin-top:.1rem;
}

	label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

	input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

	input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: #000;
}

	textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

	.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

	button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}
/* =========================================================
   iframe
   ========================================================= */
	.wrapper iframe{
	position: ;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}
/* =========================================================
	Join Us
   ========================================================= */
	.joinus{
	grid-column: 2;
	grid-row:1;
}
	.joinus h1{display:none}
/* =========================================================
	A-grid
   ========================================================= */
* {box-sizing: border-box;}
	.wrapper {
  max-width: 1024px;
  margin:1rem;
}

	.wrapper > div {
  border: .1rem solid rgb(233,171,88);
  border-radius: .5rem;
  background-color:hsl(211, 49%, 63%);
  padding:.5rem;
  color: #d9480f;
}
	.wrapper {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:.8rem;
  grid-auto-rows: minmax(100px, auto);
}
}
/* =========================================================
	Desktop version
   ========================================================= */
	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px), only screen and (max-width: 1200px) {
	p{
	font-family: 'Lato', sans-serif;
}
	header{
	height:auto;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	header p{
	text-align:center;
}
	.bigfont{
	font-size:1.5rem;
	padding-top: 2.5rem;
}
	footer{
	height:auto;
	border:.1rem solid black;
	background-color:hsl(211, 49%, 63%);
}
	footer p{
	text-align:center;
	padding-left:2.5rem;
	
}
	footer li{
	display:inline-block;
	padding:auto;
	margin:auto;
}
	li {
	list-style-type:none;
}
/* =========================================================
	pratician1.html
   ========================================================= */
	.pratician1{
	grid-column:2;
	grid-row: 1;
}
/* =========================================================
	pratician2.html
   ========================================================= */
	.pratician2{
	grid-column:2;
	grid-row: 1;
}
/* =========================================================
   about.html
   ========================================================= */
	.about {
	grid-column:2;
	grid-row: 1;
	background-color:hsl(178, 68%, 46%);
}
	.about h1{display:none}
	.about p{margin-left:1rem;}
/* =========================================================
   hours.html
   ========================================================= */
	.hours{
	grid-column:1;
	grid-row:1;
}
	table,
	td {
    border: .1rem solid #333;
    margin:auto; 
}

	thead,
	tfoot {
    background-color:hsl(204, 98%, 38%);
    color: #fff;
}
/* =========================================================
   urgence.html
   ========================================================= */	
	.urgence, blockquote, .urgetop{

	background-color:hsl(15, 100%, 50%);
		
}
	blockquote, .urgence p{color:#ffffff;}
	.urgetop{
	grid-column:2;
	grid-row: 1;
}
	blockquote{
	grid-column: 1;
	grid-row: 1 / 2;
}
/* ========================================================= 
   Contact.html
   ========================================================= */
	.contactleft {
  grid-column:2;
  grid-row:1;
}
	.contactright {
  grid-column:1;
  grid-row:1/4;
}
	

	form {
  /* Pour le centrer dans la page */

  /* Pour voir les limites du formulaire */
  padding:.1rem;
  border:.1rem solid #CCC;
  border-radius: 1em;
}

	div + div {
  margin-top:.1em;
}
	label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

	input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border:.1rem solid #999;
}

	input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: #000;
}

	textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

	.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

	button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}
/* =========================================================
   iframe
   ========================================================= */
	.wrapper iframe{
	position: ;
	top: 0;
	left: 0;
	width:auto;
	height:auto;
}
/* =========================================================
	Join Us
   ========================================================= */
	.joinus{
	grid-column: 2;
	grid-row:1;
}
.joinus h1{display:none}
/* =========================================================
	A-grid
   ========================================================= */
* {box-sizing: border-box;}
	.wrapper {
	max-width: 1200px;
  margin:1rem;
}
	.wrapper > div {
	border: .1rem solid rgb(233,171,88);
  border-radius:.5rem;
  background-color:hsl(211, 49%, 63%);
  padding:1rem;
  color: #d9480f;
}
	.wrapper {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1rem;
  grid-auto-rows: minmax(10rem, auto);
}
}
/*
*
*
****************************************
****************************************
*
*
*/
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: .1rem solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

